altgraph==0.17.5
colorama==0.4.6
importlib-metadata==8.7.1
numpy==2.4.2
packaging==26.0
pefile==2024.8.26
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.2
pyqtgraph==0.14.0
pyside6==6.10.2
pyside6-addons==6.10.2
pyside6-essentials==6.10.2
pyvisa==1.16.2
pyvisa-py==0.8.1
pywin32-ctypes==0.2.3
setuptools==82.0.0
shiboken6==6.10.2
typing-extensions==4.15.0
zipp==3.23.0
